<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet" />


<div class="home d-flex ">
 <div class="photo d-flex align-items-center justify-content-center mt-1 me-1 p-3">

  <h2 class="text-black-1 fw-b text-center" >لأنّه هكذا أحبَّ اللّه العالم حتّى بذلَ ابنهُ الوحيد،
     لكي لا يهلكَ كلُّ من يؤمنُ بهِ، بل تكونُ لهُ الحياةُ الأبديّة.</h2>
 </div>



</div>


    <!--EndHome-->
