<!--start emit-->

<div class="home d-flex ">
  <div class="grid-container ">
    <form (keydown.enter)="$event.preventDefault()" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="grid-item title pt-3">
        <h1>وثيقة مطلق حال</h1>
        <div class="search position-relative">
          <input (keydown.enter)="search($event)" type="search ">
          <img src="../../../assets/images/search.svg">
        </div>


        <span>
          الكنيسة
          <select [(ngModel)]="selectedChid" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let item of _churches" [value]="item.id">
              {{item.name}}
            </option>
          </select>

        </span>

      </div>
      <div class="grid-item sp d-flex justify-content-center align-items-center pb-2 pt-2 mt-4">
        <span><label for="1">إسم الكاهن</label><input type="text" placeholder="" name="1"></span>

        <span> <label for="2">رقم الوثيقة</label><input type="number" placeholder="" formControlName="number"
            name="2"></span>

        <span>
          <label for="3">اسم الكنيسة</label><select formControlName="chID" name="3">
            <option *ngFor="let item of _churches" [value]="item.id">
              {{item.name}}
            </option>
          </select></span>


      </div>
      <div class="flex d-flex mt-4">
        <div formGroupName="per" class=" details ">
          <div class="right d-flex">
            <button type="button" (click)="selectPerson()" class="mb-3 mt-3">تحديد</button>
            <label>الإسم</label>
            <input [readOnly]="true" type="text" placeholder="" formControlName="firstName">
            <label>الشهرة</label>
            <input [readOnly]="true" type="text" placeholder="" formControlName="lastName">

            <label>إسم الأب</label>
            <input [readOnly]="true" type="text" placeholder="" formControlName="fatherName">
            <label>إسم الأم</label>
            <input [readOnly]="true" type="text" placeholder="" formControlName="motherName">

            <label>رقم القيد</label>
            <input [readOnly]="true" type="text" placeholder="" formControlName="constraintNumber">
            <label>الرقم الوطني</label>
            <input (blur)="onNationalIdBlur($event)" type="text" placeholder="" formControlName="nationalNumber">
          </div>
        </div>
        <div class=" finish d-flex  align-items-center pb-3 mt-5">
          <div class="ond ">
            <span class=" d text-center ms-1  ">صدرت بتاريخ</span>
            <mat-form-field class="form-field custom-width" appearance="outline">
              <input matInput [matDatepicker]="pickerissuanceDate" formControlName="issuanceDate">
              <mat-datepicker-toggle matIconSuffix [for]="pickerissuanceDate"></mat-datepicker-toggle>
              <mat-datepicker #pickerissuanceDate></mat-datepicker>
            </mat-form-field>

          </div>


          <div class="ond d-flex ">
            <span class="text-center mt-3 ms-1">تاريخ الإستحقاق</span>
            <mat-form-field class="form-field custom-width" appearance="outline">
              <input matInput [matDatepicker]="pickerdueDate" formControlName="dueDate">
              <mat-datepicker-toggle matIconSuffix [for]="pickerdueDate"></mat-datepicker-toggle>
              <mat-datepicker #pickerdueDate></mat-datepicker>
            </mat-form-field>

          </div>

          <div class="check "> <span>تم التصديق</span><input type="checkbox" formControlName="certified"></div>
          <div class="btn mt-3"> <button [disabled]="DocumentIsLocked" value="حفظ" type="submit">حفظ</button></div>


        </div>
      </div>
    </form>

  </div>


</div>


<!--End emit-->